.header-container-btn{
    padding: 10px 20px 10px 20px;
    background-image: linear-gradient(to right, rgb(28, 199, 193), rgb(94, 187, 185));
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.justify-text{
    text-align: justify;
}